name: CI - Technical Support

on:
    push:
      branches: [ "main" ]
    pull_request:
      branches: [ "main" ]

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: 'npm'
      - name: Install dependencies
        run: npm install
        working-directory: Backend/TechSupportService
    
      - name: Run linter
        run: npm run lint
        working-directory: Backend/TechSupportService
    
      - name: Run tests
        run: npm run test
        working-directory: Backend/TechSupportService
        

  deploy-server:
    needs: [build-and-test]
    runs-on: ubuntu-latest

    steps:
      - name: activate deploy hook
        run: curl https://api.render.com/deploy/srv-d0111q49c44c73cp26lg?key=3dF5mW8iD-E
